<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/mvc
						http://www.springframework.org/schema/mvc/spring-mvc.xsd
						http://code.alibabatech.com/schema/dubbo
						http://code.alibabatech.com/schema/dubbo/dubbo.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd
                          http://www.springframework.org/schema/security
                          http://www.springframework.org/schema/security/spring-security.xsd">


    <!--在spring-security.xml中主要配置Spring Security的拦截规则和认证管理器。-->

    <!--1.1配置通配符，有一些页面资源和登陆页面不希望被拦截-->
    <security:http security="none" pattern="/css/**"/>
    <security:http security="none" pattern="/element-demo/**"/>
    <security:http security="none" pattern="/img/**"/>
    <security:http security="none" pattern="/js/**"/>
    <security:http security="none" pattern="/plugins/**"/>
    <security:http security="none" pattern="/template/**"/>
    <security:http security="none" pattern="/pages/login.html"/>



    <security:http auto-config="true">


        <security:headers>
            <!--  same origin (协议://域名:端口)-->
            <security:frame-options policy="SAMEORIGIN"></security:frame-options>
        </security:headers>


        <!--只要登录就可以访问所以资源-->
        <security:intercept-url pattern="/**" access="isAuthenticated()"/>
        <!--自定义form-login表单登录信息
        注意: 默认的登录用户名和密码是username和password ,如何自己定义了,那么需要用
        将下面的修改后放到下面去,还有就是登录url默认是login,如果你页面写了login.do也需要修改
                username-parameter="username"
                password-parameter="password"
                login-processing-url="/login.do"
        -->
        <!-- 自定登录页面
           always-use-default-target="true" 登录成功之后总是跳到我们配置的页面（  default-target-url="/pages/main.html"）
-->
        <security:form-login
                login-page="/pages/login.html"
                default-target-url="/pages/main.html"
                authentication-failure-url="/pages/login.html"
                always-use-default-target="true"/>


        <!--  csrf：对应CsrfFilter过滤器
       disabled：是否启用CsrfFilter过滤器，
       如果使用自定义登录页面需要关闭此项，否则登录操作会被禁用（403）-->
        <security:csrf disabled="true"/>

        <!--配置退出-->
        <security:logout logout-url="/logout" logout-success-url="/pages/login.html"/>
        <!--没有权限访问的提示页面-->
        <security:access-denied-handler error-page="/pages/error.html"/>
    </security:http>


    <!--2,配置Spring_Security认证管理器-->
    <security:authentication-manager>
        <!--
            authentication-provider：认证提供者，执行具体的认证逻辑
        -->
        <security:authentication-provider user-service-ref="userSecurity">

            <!--指定密码加密策略-->
            <security:password-encoder ref="passwordEncoder"/>

        </security:authentication-provider>


    </security:authentication-manager>

    <!--自定义提供认证权限的实体类-->
<!--    <bean id="UserSecurity" class="com.itcast.security.UserSecurity">-->
<!--        &lt;!&ndash;配置密文加密&ndash;&gt;-->
<!--        <property name="passwordEncoder" ref="passwordEncoder"/>-->
<!--    </bean>-->
    <!---->
    <!--配置密码加密对象-->
    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

    <!--开启注解方式权限控制-->
    <security:global-method-security pre-post-annotations="enabled"/>

</beans>